.w-100{
  width: 100%;
}
.w-80{
  width: 80%;
}
.w-50{
  width: 50%;
}
.bg-primary {
  background-color: #2196f3;
}
.position-relative {
  position: relative;
}
.m-0 {
    margin: 0;
  }
  .m-1 {
    margin: 10px;
  }
  .m-2 {
    margin: 20px;
  } 
  .m-3 {
    margin: 30px;
  }
  .m-4 {
    margin: 40px;
  }
  .m-5 {
    margin: 50px;
  }
  .hr-dark{
    height: 1px;
    border: #3232326a 1px solid;
    
    width: 100%;
  }
  .color-dark {
    background-color: #171717;
  }
  .m-auto-3 {
  
    margin: 30px auto;
  }
  .smSpace {
    height: 50px;
    width: 100%;
  }
  .mdSpace {
    height: 100px;
    width: 100%;
  }
  .lgSpace {
    height: 200px;
    width: 100%;
  }
  .xlSpace {
    height: 300px;
    width: 100%;
  }
  .xxlSpace {
    height: 400px;
    width: 100%;
  }
  .xxxlSpace {
    height: 500px;
    width: 100%;
  }
  .d-block{
    display: block;
  }
  .pre-line-paragraph {
    white-space: pre-line;
    margin: 0;
  }
  .text-start{
    text-align: start;
  }

  .d-flex {
    display: flex;
  }
  .justify-between {
    justify-content: space-between;
  }
  .align-center {
    align-items: center;
  }
  .justify-around{
    justify-content: space-around;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .gap-1 {
    gap: 10px;
  }
  .gap-2 {
    gap: 20px;
  }
  .gap-3 {
    gap: 30px;
  }
  .gap-4 {
    gap: 40px;
  }
  .gap-5 {
    gap: 50px;
  }